body{
    background-color: cadetblue;
}

br{
    width: 100%;
}

.formBtn {
    width: 140px;
    display: inline-block;

    background: antiquewhite;
    color: black;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 50px;
}

.line{
    width: 100%;
    height: 3px;
    border-bottom: 5px solid black;
    position: absolute;
}



@media all and (max-width: 1199px){
    ::-webkit-input-placeholder {
        font-size: 30px;
    }
    ::-moz-placeholder {
        font-size: 30px;
    }
    :-ms-input-placeholder {
        font-size: 30px;
    }
    ::placeholder {
        font-size: 30px;
    }

    body{
        width: 100%;
        flex-wrap: wrap;
        background-color: cadetblue;
    }

    input, label{
        width: 95%;
        height: 75px;
        justify-content: center;
        align-items: center;
        font-size: 30px;

    }

    textarea{
        width: 95%;
        height: 200px;
        justify-content: center;
        align-items: center;
        font-size: 23px;
    }

    .formBtn {
        width: 100%;
        display: inline-block;

        background: antiquewhite;
        color: black;
        font-weight: 100;
        font-size: 1.2em;
        border: none;
        height: 50px;
    }



    h2{
        width: 100%;
        text-align: center;
        font-size: 80px;
    }

    select{
        width: 95%;
        font-size: 35px;
    }

    .divs{
        width: 100%;
    }

    img{
        display:block;
        margin:auto;
    }


}

