/* home css------------------------------------------------------*/
.slider_news {
	height: 100%;
	padding: 10px;
	margin-top: 60px;
}

.headerLogo{
	width: 160px;
	height: 40px;	
}

section {
	min-height: 100%;
}

.row {
	justify-content: center;
}

.important_news {
	height: 100%;
	width: 100%;
}

.news.container-fluid {
	max-height: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	box-sizing: border-box;
}

.important_news1 {
	height: auto;
	padding: 30px;
}

.important_card1 {
	background-color: burlywood;
	height: auto;
	margin: 5px;
	padding: 0;
	display: flex;
	align-items: flex-end;
	position: relative
}

.important_card2 {
	height: auto;
	margin: 5px;
	padding: 0;
}

.text_data5 h6 {
	font-family: "Open Sans", SansSerif;
	font-weight: bold;
	color: #FF0000;
	font-size: 0.9rem;
}

.text_data6 h6 {
	font-family: "Open Sans", SansSerif;
	font-weight: bold;
	color: darkgrey;
	font-size: 0.9rem;
}

.important_card3 {
	border: 2px solid darkgrey;
	margin: 5px;
	height:auto;
	display: flex;
	align-items: center;
	padding: 0;
	position: relative;
}

.important_card4 {
	border: 2px solid darkgrey;
	margin: 5px;
	height: auto;
	display: flex;
	align-items: center;
	padding: 0;
}

.important_card5 {
	border: 2px solid darkgrey;
	margin: 5px;
	height: auto;
	display: flex;
	align-items: center;
	padding: 0;
}

.news_slider h1 {
	font-size: 1.6rem;
	font-family: Lora, Serif;
	font-weight: bold;
	word-break: break-word;
}

.news_slider p {
	font-size: 1rem;
	font-family: "Open Sans", SansSerif;
	word-break: break-word;
}

.news_slider1 {
	background-color: #333333;
	height: auto;
	margin-bottom: 10px;
	padding: 0;
	display: flex;
	align-items: flex-end;
	position: relative
}

.text_data1 h6 {
	font-family: "Open Sans", SansSerif;
	font-weight: bold;
	color: #FF0000;
	font-size: 0.9rem;
}

.news_slider2 {
	border: 2px solid darkgrey;
	color: black;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.text_data2 h6 {
	font-family: "Open Sans", SansSerif;
	font-weight: bold;
	color: #FF0000;
	font-size: 0.9rem;
}

.news_slider3 {
	border: 2px solid darkgrey;
	height: auto;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
}

.text_data3 h6 {
	font-family: "Open Sans", SansSerif;
	font-weight: bold;
	color: #FF0000;
	font-size: 0.9rem;
}

.news_slider4 {
	background-color: blue;
	height: 100px;
	margin-top: 5px;
}

.important_card6 {
	background-color: blue;
	height: 200px;
	margin: 5px;
}

.important_card7 {
	height: auto;
	display: flex;
	padding: 5px;
	border: 2px solid darkgrey;
}

.text_data4 h6 {
	font-family: "Open Sans", SansSerif;
	font-weight: bold;
	color: #FF0000;
	font-size: 0.9rem;
}

.pics {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.picsImportantNew1 {
	position: absolute;
	width: 100%;
	height: 60%;
	top: 0;
}

.pics2 {
	width: 100%;
	height: auto;
	top: 0;
}

.picsNormalNews {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}

.text {
	position: absolute;
	width: 100%;
	height: auto;
	background-color: black;
	margin: 0;
	padding: 10px;
	border-left: 3px solid #FF0000;
	color: darkgrey;
	bottom: 0;
}

.text_card1 {
	background-color: burlywood;
	margin: 0;
	padding: 10px;
	border-left: 3px solid #FF0000;
	height: auto;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.text_card1 h1 {
	font-size: 1.5rem;
	font-family: Lora, Serif;
	font-weight: bold;
	padding: 0;
	margin-bottom: 5px;
}

.text_card1 p {
	font-size: 0.9rem;
	font-family: "Open Sans", SansSerif;
	padding: 0;
	margin: 0;
}

.text_slider2 {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text_slider2 h1 {
	font-size: 1rem;
	text-align: left;
}

.text_slider2 p {
	font-size: 0.8rem;
	margin: 0;
}

.img_slider2 {
	width: 100%;
	height: auto;
	background-color: #3e3e3e;
}

.text_slider3 {
	padding: 5px;
}

.text_slider3 h1 {
	font-size: 1rem;
}

.text_slider3 p {
	font-size: 0.8rem;
}

.img_card2 {
	width: 500px;
	height: 200px;
	background-color: #111111;
}

.normalNewsPics2 {
	width: 100%;
	height: 100%;
	background-color: #111111;
	display: block;
	margin: auto;
}

.normalNewsPics2Portrait {
	width: 60%;
	height: 100%;
	background-color: #111111;
	display: block;
	margin: auto;
}

.normalNewsPics2P1 {
	width: 40%;
	height: 100%;
	background-color: #111111;
	display: block;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	right: 0;
}

}
.text_card2 {
	padding-rigth: 7px;
	width: 100%;
}

.text_card2 h1 {
	font-size: 1.1rem;
	font-family: Lora, Serif;
	font-weight: bold;
}

.text_card2 p {
	font-size: 0.9rem;
	font-family: "Open Sans", SansSerif;
}

.i_card3 {
	background-color: #333333;
	height: auto;
	width: 300px;
}

.itext_card3 {
	padding: 10px;
	bottom: 0;	
	height: auto;
}

.itext_card3 h1 {
	font-size: 1.1rem;
	font-family: Lora, Serif;
	font-weight: bold;
}

.itext_card3 p {
	font-size: 0.8rem;
	font-family: "Open Sans", SansSerif;
}

.i_card4 {
	background-color: #333333;
	height: auto;
	width: 300px;
}

.itext_card4 {
	padding: 10px;
}

.itext_card4 h1 {
	font-size: 1.1rem;
	font-family: Lora, Serif;
	font-weight: bold;
}

.itext_card4 p {
	font-size: 0.8rem;
	font-family: "Open Sans", SansSerif;
}

.i_card5 {
	background-color: #333333;
	height: auto;
	width: 300px;
}

.itext_card5 {
	padding: 10px;
}

.itext_card5 h1 {
	font-size: 1.1rem;
	font-family: Lora, Serif;
	font-weight: bold;
}

.itext_card5 p {
	font-size: 0.8rem;
	font-family: "Open Sans", SansSerif;
}

.update {
	width: 35px;
	height: 35px;
	text-decoration: none;
	border: none;
	background-color: transparent;
	padding: 0;
	margin-top: 5px;
	background-image: url("/img/update.png");
	background-size: cover;
	background-position: center;
}

.modPics {
	width: 35px;
	height: 35px;
	text-decoration: none;
	border: none;
	background-color: transparent;
	padding: 0;
	margin-top: 5px;
	background-image: url("/img/addPics.png");
	background-size: cover;
	background-position: center;
}

.delete {
	width: 35px;
	height: 35px;
	text-decoration: none;
	border: none;
	background-color: transparent;
	padding: 0;
	margin-top: 5px;
	background-image: url("/img/delete-button.png");
	background-position: center;
	background-size: cover;
}

.tittle h1 {
	font-family: "Open Sans", SansSerif;
	font-weight: bold;
	color: #FF0000;
	font-size: 1.5rem;
	margin-bottom: 10px;
}

#important_news {
	margin-left: 95px;
	margin-top: 10px;
}

#ultimas_noticias {
	margin-left: 130px;
}

.portrait {
	width: 33%;
	height: 55%;
	transition: all 1s;
	position: absolute;
	margin: auto;
	top: 0;
}

.moreNews {
	width: 100%;
	position: relative
}

.normalPicsContainerPosition1 {
	position: absolute;
	top: 0;
	height: 60%;
	width: 100%;
	background-color: burlywood;
}

.normalPicsContainer {
	position: absolute;
	top: 0;
	height: 50%;
	width: 100%;
	background-color: black;
}



@media all and (max-width: 1125px) {
	.important_card7 {
		height: auto;
		display: flex;
		flex-direction: column;
		padding: 5px;
		border: 2px solid darkgrey;
	}
	.img_card2 {
		width: 100%;
		height: 250px;
		background-color: #111111;
	}
	.important_card6 {
		height: 100px;
	}
	.important_card1 {
		height: 500px;
	}
}

@media all and (max-width: 995px) {
	.normalPicsContainer {
	position: absolute;
	top: 0;
	height: auto;
	width: 100%;
	background-color: black;
}
	
	.news_slider1 {
		height: 400px;
		margin: 20px;
	}
	.normalNewsPics2P1 {
		width: 45%;
		height: 100%;
		background-color: #111111;
		display: block;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		right: 0;
	}
	#important_news {
		margin-left: 40px;
		margin-top: 10px;
	}
	#ultimas_noticias {
		margin-left: 60px;
	}
	.news_slider2 {
		display: flex;
		flex-direction: row;
	}
	.important_card7 {
		height: auto;
		display: flex;
		flex-direction: row;
		padding: 5px;
		border: 2px solid darkgrey;
	}
	.pics {
		position: absolute;
		height: auto;
		width: 100%;
		top: 0;
	}
	.picsNormalNews {
		position: absolute;
		height: auto;
		width: 100%;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto auto;
	}
	.img_card2 {
		width: 80%;
		height: 250px;
		background-color: #111111;
	}
}

@media all and (max-width: 599px) {
	.normalPicsContainer {
		position: absolute;
		top: 0;
		height: auto;
		width: 100%;
		background-color: black;
	}
	
	
	.landscape {
		width: 100%;
		height: 60%;
		transition: all 1s;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
	}
	.news_slider1 {
		height: 400px;
		margin: 10px;
	}
	.news_slider h1 {
		font-size: 1rem;
		font-family: "Lora", Serif;
		font-weight: bold;
	}
	.news_slider p {
		font-size: 0.8rem;
		font-family: "Open Sans", SansSerif;
		margin: 0;
	}
	.news_slider2 {
		height: auto;
		margin-top: 50px;
	}
	.important_news1 {
		height: auto;
		padding: 30px;
	}
	#important_news {
		text-align: center;
		margin-top: 50px;
		margin-left: 0;
	}
	#ultimas_noticias {
		text-align: center;
		margin-left: 0;
	}
	#important_news {
		text-align: center;
		margin-top: 10px;
	}
	#ultimas_noticias {
		text-align: center;
	}
	.news_slider2 {
		display: flex;
		flex-direction: column;
	}
	.important_card7 {
		height: auto;
		display: flex;
		flex-direction: column;
		margin: 10px;
		padding: 5px;
		border: 2px solid darkgrey;
	}
	.img_card2 {
		width: 100%;
		height: auto;
		background-color: #111111;
	}
	
	
}

.news_slider1 {
		background-color: black;
	}

