<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <title>Agencia Digital</title>    
    <script	src="/JS/jquery-3.3.1.min.js"></script>
    <meta property="og:image" itemprop="image" content="/img/agenciaDigitalIcon.png">
    <link rel="icon" href="/img/agenciaDigitalIcon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/home.css">
    <link rel="stylesheet" href="/CSS/basic.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="navbar_container container-fluid">
            <a class="navbar-brand text-center"><img class="headerLogo" src="/img/agencia_digital-01.png"></a>
            <div class="weather" id="weatherInfo"></div>
        </div>
    </nav>
</header>
<section>
<div class="news container-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="slider_news col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tittle col-lg-12 col-sm-12 col-md-12 col-xs-12" id="important_news">
        <h1>NOTICIAS IMPORTANTES</h1>
    </div>
        <div class="news_slider col-xs-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-10 offset-lg-1">

        <div class="row" id='importantNews1'>
            
            </div>
        </div>
        </div>
    </div>
    
    <div class="important_news">
        <div class="row">
            <div class="important_news1 col-lg-12">
                <div class="tittle col-lg-12 col-sm-12 col-md-12 col-xs-12" id="ultimas_noticias">
                    <h1>ÚLTIMAS NOTICIAS</h1>
                </div>
                <div class="row" id='NormalNews'>
                    
                </div>

                <div class="row" id='NormalNews2'>
                    
                </div>
                
            </div>
        </div>
    </div>

</section>
<footer>
    <nav class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="footer_container container-fluid text-center">
            <div class="social_footer col-xs-12 col-sm-12 col-md-12  col-lg-12">
                <a href="#" title="Visitanos en nuestras redes"><div class="social_icon" id="facebook_footer"></div></a>
                <a href="#" title="Visitanos en nuestras redes"><div class="social_icon" id="twitter_footer"></div></a>
            </div>
            <small>©2019 Agencia Digital.Todos los derechos reservados.</small>
        </div>
    </nav>
</footer>
<script src="/JS/Home.js"></script>
<script src="/JS/Weather.js"></script>
</body>
</html>